streamlit
PyPDF2
langchain
langchain-google-genai
google-generativeai
faiss-cpu
python-dotenv
langchain_community
pandas
openpyxl
beautifulsoup4
requests
duckduckgo-search
Pillow
pytesseract
pdf2image
aiohttp
nest-asyncio
matplotlib
seaborn
plotly
pytube==15.0.0
moviepy==1.0.3
youtube-transcript-api==0.6.2
SpeechRecognition==3.10.1
pydub==0.25.1
PyMuPDF==1.23.26
Pygments==2.17.2
librosa
soundfile
numpy
scipy
SpeechRecognition
pydub
noisereduce
gTTS==2.5.1
sentence-transformers
