aiofiles
aiohttp
beautifulsoup4
duckduckgo-search
faiss-cpu
gTTS==2.5.1
google-generativeai
langchain
langchain-google-genai
langchain_community
librosa
matplotlib
moviepy==1.0.3
nest-asyncio
noisereduce
numpy
openpyxl
pandas
pdf2image
Pillow
plotly
pydub==0.25.1
PyMuPDF==1.23.26
PyPDF2
Pygments==2.17.2
pytesseract
pytube==15.0.0
python-dotenv
requests
scipy
seaborn
sentence-transformers
soundfile
SpeechRecognition==3.10.1
streamlit
torch
tqdm
typing-extensions